.ActionBar {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    bottom: 0;
    margin-left: 15px;
}

.ActionBar button {
    width: 200px;
    height: 40px;
    color: #fff;
    background: #d32323;
    border: 1px solid #d32323;
    font-size: 16px;
    margin-bottom: 2px;
    cursor: pointer;
}

.ActionBar > button:active {
    transform: scale(.9);
}

.ActionBar > .resize {
    display: flex;
    flex-direction: column;
}